<div class="container">
    <h2>Registro</h2>

    <form action='@Url.Action("GuardarUser","Home")' method="post" onsubmit="return validarForm()">
        <div class="form-group">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
            <label for="mail">Correo electrónico:</label>
            <input type="text" id="mail" name="mail" required onkeyup="validarMail()" />
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" id="password" name="PassWord" required onkeyup="validarPassword()" />

            <div class="alert alert-info" role="alert" style="padding:.25rem .75rem;margin-top:5px;font-size:13px;">
                <span style="color:red;" id="mensajeA">La contraseña debe contener al menos 8 caracteres</span><br>
                <span style="color:red;" id="mensajeB">La contraseña debe contener al menos una mayúscula</span><br>
                <span style="color:red;" id="mensajeC">La contraseña debe contener al menos un carácter especial</span>
            </div>
        </div>
        <button class="login-button" type="submit">Ingresar</button>
    </form>

    <div class="extra-options">
    </div>
</div>
